html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-size: 87.5%;
  line-height: 1.71429;
  text-align: left;
  font-family: Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #3e3e3e;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

section {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3.25%;
  padding-left: 3.25%;
  background: #eee;
  display: inline-block;
  margin-bottom: 20px;

}

h2 {
  margin-top: .56522em;
  margin-bottom: .26087em;
  font-size: 1.64286em;
  line-height: 1.08696;
  font-family: wf_heroic-condensed-pro_medium,Calibri,"Arial Narrow","Trebuchet MS",Tahoma,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin-right: .71429em;
  margin-bottom: 1.07143em;
}

/*a {
  display: block;
  width: 4.28571em;
  height: 4.28571em;
  line-height: 1;
  color: #fff;
  background-color: #1572a4;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}*/

li a {
  display: block;
  width: 4.28571em;
  height: 4.28571em;
  line-height: 1;
  color: #fff;
  background-color: #1572a4;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

li a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 4.28571em;
  vertical-align: middle;
}

li a:after {
  display: inline-block;
  font-size: 42px;
  vertical-align: middle;
}

span {
  display: none;
  speak: normal;
}

.icon {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon:after {
  content: "";
  font-family: wf_halo-icons_regular;
}

#fb {
  background-color: #3b5a9a;
}

#fb:after {
  content: "f";
}

#twitter {
  background-color: #2ea7de;
}

#twitter:after {
  content: "T";
}

#yt {
  background-color: #df2e24;
}

#yt:after {
    content: "‣";
}

#twitch {
  background-color: #684597;
}

#twitch:after {
  content: "t";
}

#insta {
  background-color: #363e46;
}

#insta:after {
  content: "";
}

#forum {

}

#forum:after {
  content: "✍";
}
