
section {
  display: block;
  margin: 0 0 20px 42px;
  width: 886px;
}
h2 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0;
}
section h2 {
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  display: block;
  margin-bottom: 6px;
  color: #707070;
  font-size: 24px;
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}
ul li {
  margin: 2px;
  background: #eee;
  float: left;
  width: 142px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul li a {
  padding: 0 0 5px;
  color: #095490;
  font: normal 14px/14px "AvantGarde","helvetica", "arial";
  text-align: center;
  text-decoration: none;
  display: block;
}
a:link, a:visited {
  color: #095490;
}
a:link, a:visited {
  text-decoration: none;
}
div {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  float: none;
  zoom: 1;
}
div:before, div:after {
  content: "";
  display: table;
}
div:after {
  clear: both;
}
