body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

#left {
  position: absolute;
  top: 270px;
  left: 30px;
}
#right {
  position: absolute;
  top: 270px;
  left: 1350px;
}

img {
  max-width: 100%;
}

