<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<div id="heroRotator" class="rotator">
            <div class="rotatorControl prevButton"></div>
            <div class="rotatorControl nextButton"></div>
            <div class="sizer">
                <img src="/Content/Images/sizer.png">
            </div>

            <div class="slide first" data-slideid="1" data-hero-metro="1:hero:Desktop- Hero-1-E3-2015-Announce" style="left: -100%;">

                    <a href="http://www.xbox.com/en-US/e3">
                            <img src="http://compass.xbox.com/assets/0e/75/0e753ec3-2404-44cd-b24a-e256e8943741.jpg?n=e3-Promo_superhero_1920x768_lineup_02.jpg">

                    </a>
            </div>
            <div class="slide " data-slideid="2" data-hero-metro="2:hero:Desktop- Hero-2-Halo5-Cover" style="left: 0%;">

                    <a href="http://www.xbox.com/en-US/games/halo-5-guardians">
                            <img src="http://compass.xbox.com/assets/df/5c/df5c19e4-cf74-4b68-98e6-0b76a2280d16.jpg?n=halo-5_superhero_1920x768_cover-revealed.jpg">

                    </a>
            </div>
            <div class="slide " data-slideid="3" data-hero-metro="3:hero:Desktop- Hero-3-Halo-MCC-Bundle">

                    <a href="http://www.xbox.com/en-US/xbox-one/consoles/halo-master-chief-collection">
                            <img src="http://compass.xbox.com/assets/f2/7a/f27ad6e5-50b4-426c-8053-2a0350f9c1e6.jpg?n=halo-master-chief-collection-xbox-one-console-bundle_superhero_1920x768_green-03.jpg">

                    </a>
            </div>
            <div class="slide " data-slideid="4" data-hero-metro="4:hero:Desktop- Hero-4-Call-of-Duty-Black-Ops-3">

                    <a href="http://www.xbox.com/en-US/games/call-of-duty-black-ops-3">
                            <img src="http://compass.xbox.com/assets/60/16/6016a87e-ebfb-42c5-be31-a25459fe4e8e.jpg?n=call-of-duty-black-ops-3_superhero_1920x768_pre-order.jpg">

                    </a>
            </div>
            <div class="slide " data-slideid="5" data-hero-metro="5:hero:Desktop- Hero-5-Best-Games">

                    <a href="http://www.xbox.com/en-US/xbox-one/gaming">
                            <img src="http://compass.xbox.com/assets/e9/c5/e9c5250e-a870-472c-826a-4e6a051c2b21.jpg?n=x1_gamespage_home_Hero_1920x768.jpg">

                    </a>
            </div>
            <div class="slide " data-slideid="6" data-hero-metro="6:hero:Desktop- Hero-6-EA-Access-FIFA-15">

                    <a href="http://www.xbox.com/en-US/entertainment/xbox-one/live-apps/ea-access">
                            <img src="http://compass.xbox.com/assets/3a/48/3a481d54-500a-4d48-87bf-303014589b23.jpg?n=fifa-15-ea-access_superhero_1920x768.jpg">

                    </a>
            </div>

    </div>
  <script src="js/main.js"></script>
</body>

</html>