<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<section>
    <a href="#">
        <img src="http://compass.xbox.com/assets/df/5c/df5c19e4-cf74-4b68-98e6-0b76a2280d16.jpg?n=halo-5_superhero_1920x768_cover-revealed.jpg">
    </a>
    <img id="left" src="images/arrow_left.png">
    <img id="right" src="images/arrow_right.png">
</section>

</body>

</html>