
section {
  background: url(images/ajax-loader.gif) center center no-repeat #eee;
  width: 870px;
  height: 305px;
}
div {
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 0;
}
a:link, a:visited {
  color: #095490;
}
a:link, a:visited {
  text-decoration: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
div img {
  border: none;
}
img {
  border: 0;
}
a:link, a:visited {
  color: #095490;
}
aside {
  width: 152px;
  height: 305px;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 718px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
div {
  display: block;
}
ul {
  width: 152px;
  height: 300px;
  padding-top: 3px;
  position: relative;
}
ul, ol {
  list-style: none;
}
body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, dl, dt, dd {
  margin: 0;
  padding: 0;
}
ul li {
  display: block !important;
  outline: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul, ol {
  list-style: none;
}
ul a {
  background: url(http://www.gamestop.com/gs/pages/storefront/home/devprod/img/menuitems_hover.png) 0 60px;
  width: 120px;
  height: 64px;
  padding: 6px 16px 0 16px;
  margin-bottom: 5px;
  display: block !important;
  text-align: center;
  text-decoration: none !important;
  outline: none;
}
ul li img {
  width: 120px;
  height: 51px;
}
div img {
  border: none;
}
img {
  border: 0;
}
li div {
  font-size: 11px;
  font-family: "helvetica", "arial", "sans-serif";
  font-weight: normal;
}
