<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<!-- <div class="container_out"> -->
    <div class="container_news">
        
        <ul id="NewsFeed" class="newsFeed">
            <li data-content-id="12889" class="cf">
                <article class="newsArticle summary">
                    <a href="/7_House-of-Wolves-Launch-Trailer/en/News/News?aid=12889" class="overlay"></a>
                    <p class="date block">
                        <span class="day">14</span>
                        <span class="month">May</span>
                        <span class="year">2015</span>
                        <span class="time">11:55</span>
                    </p>
                    <a href="/7_House-of-Wolves-Launch-Trailer/en/News/News?aid=12889" class="thumb" style="images/header_blog.jpg')">
                        <img alt="" src="images/header_blog.jpg">
                    </a>
                    <div class="content_fh">
                        <h1 class="title">
                            <a href="/7_House-of-Wolves-Launch-Trailer/en/News/News?aid=12889">House of Wolves Launch Trailer</a>
                        </h1>
                        <p class="mobile info">
                            <em>by</em>
                            <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em>
                            </a>
                            May 14 at 3:55:48 PM
                        </p>
                            <a class="mobile comments commentCount" href="/7_House-of-Wolves-Launch-Trailer/en/News/News?aid=12889#comments">0 Comments</a>
                        <div class="body">See you in The Reef.</div>
                    </div>
                </article>
            </li>

            <li data-content-id="12885" class="cf">      
            <article class="newsArticle summary">
                <a href="/7_Community-Focus---rFireteams/en/News/News?aid=12885" class="overlay"></a>
                <p class="date block">
                    <span class="day">12</span>
                    <span class="month">May</span>
                    <span class="year">2015</span>
                    <span class="time">14:40</span>
                </p>
                <a href="/7_Community-Focus---rFireteams/en/News/News?aid=12885" class="thumb" style="background-image:url('images/fireteams.png')">
                    <img alt="" src="images/fireteams.png">
                </a>
                <div class="content_fh">
                    <h1 class="title">
                        <a href="/7_Community-Focus---rFireteams/en/News/News?aid=12885">Community Focus - r/Fireteams</a>
                    </h1>
                    <p class="mobile info">
                        <em>by</em>
                        <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em>
                        </a>
                        May 12 at 6:40:47 PM
                    </p>
                        <a class="mobile comments commentCount" href="/7_Community-Focus---rFireteams/en/News/News?aid=12885#comments">0 Comments</a>
                        <div class="body">Safety (and friendship) in numbers.</div>
                </div>
            </article>
            </li>

            <li data-content-id="12858" class="cf">
            <article class="newsArticle summary">
                <a href="/7_House-of-Wolves-Preview/en/News/News?aid=12858" class="overlay"></a>
                <p class="date block">
                    <span class="day">8</span>
                    <span class="month">May</span>
                    <span class="year">2015</span>
                    <span class="time">13:09</span>
                </p>
                <a href="/7_House-of-Wolves-Preview/en/News/News?aid=12858" class="thumb" style="background-image:url('images/header_blog1.jpg')">
                    <img alt="" src="images/header_blog1.jpg">
                </a>
                <div class="content_fh">
                    <h1 class="title">
                        <a href="/7_House-of-Wolves-Preview/en/News/News?aid=12858">House of Wolves Preview</a>
                    </h1>
                    <p class="mobile info">
                        <em>by</em>
                        <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em></a>
                            May 8 at 5:09:17 PM
                        </p>
                        <a class="mobile comments commentCount" href="/7_House-of-Wolves-Preview/en/News/News?aid=12858#comments">0 Comments</a>
                        <div class="body">Expand your adventure.</div>
                </div>
            </article>
            </li>

            <li data-content-id="12853" class="cf">      
            <article class="newsArticle summary">    
            <a href="/7_Bungie-Weekly-Update---05072015/en/News/News?aid=12853" class="overlay"></a>    
            <p class="date block"><span class="day">7</span><span class="month">May</span><span class="year">2015</span><span class="time">18:39</span></p>         
            <a href="/7_Bungie-Weekly-Update---05072015/en/News/News?aid=12853" class="thumb" style="background-image:url('images/header_blog2.jpg')"><img alt="" src="images/header_blog2.jpg"></a>               
                <div class="content_fh">              
                    <h1 class="title"><a href="/7_Bungie-Weekly-Update---05072015/en/News/News?aid=12853">Bungie Weekly Update - 05/07/2015</a></h1>              
                    <p class="mobile info">                  
                        <em>by</em>           
                        <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em>
                        </a>                   
                        May 7 at 10:39:10 PM
                    </p>              
                        <a class="mobile comments commentCount" href="/7_Bungie-Weekly-Update---05072015/en/News/News?aid=12853#comments">0 Comments</a>                         
                        <div class="body">Let’s go to Prison.</div>               
                </div>      
            </article>  
            </li>

            <li data-content-id="12846" class="cf">      
            <article class="newsArticle summary">
                <a href="/7_House-of-Wolves-Reveal-Teaser---Prison-of-Elders/en/News/News?aid=12846" class="overlay"></a>
                <p class="date block">
                    <span class="day">4</span>
                    <span class="month">May</span>
                    <span class="year">2015</span>
                    <span class="time">20:19</span>
                </p>
                <a href="/7_House-of-Wolves-Reveal-Teaser---Prison-of-Elders/en/News/News?aid=12846" class="thumb" style="background-image:url(images/Prison_Reveal_Tease_blog_1.jpg')">
                    <img alt="" src="images/Prison_Reveal_Tease_blog_1.jpg">
                </a>
                <div class="content_fh">
                    <h1 class="title">
                        <a href="/7_House-of-Wolves-Reveal-Teaser---Prison-of-Elders/en/News/News?aid=12846">House of Wolves Reveal Teaser - Prison of Elders</a>
                    </h1>
                    <p class="mobile info">
                        <em>by</em>
                        <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em>
                        </a>
                        May 5 at 12:19:04 AM
                    </p>
                    <a class="mobile comments commentCount" href="/7_House-of-Wolves-Reveal-Teaser---Prison-of-Elders/en/News/News?aid=12846#comments">0 Comments</a>
                    <div class="body">Fight. Kill. Survive.</div>
                </div>
            </article>  
            </li>

            <li data-content-id="12839" class="cf">      
            <article class="newsArticle summary">
                <a href="/7_Community-Focus-Laced-Up-Lauren/en/News/News?aid=12839" class="overlay"></a>
                <p class="date block">
                    <span class="day">1</span>
                    <span class="month">May</span>
                    <span class="year">2015</span>
                    <span class="time">17:55</span>
                </p>
                <a href="/7_Community-Focus-Laced-Up-Lauren/en/News/News?aid=12839" class="thumb" style="background-image:url('images/lauren.png')">
                    <img alt="" src="images/lauren.png">
                </a>
                <div class="content_fh">
                    <h1 class="title">
                        <a href="/7_Community-Focus-Laced-Up-Lauren/en/News/News?aid=12839">Community Focus: Laced Up Lauren</a>
                    </h1>
                    <p class="mobile info">
                        <em>by</em>
                        <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em>
                        </a>
                        May 1 at 9:55:40 PM
                    </p>
                    <a class="mobile comments commentCount" href="/7_Community-Focus-Laced-Up-Lauren/en/News/News?aid=12839#comments">0 Comments</a>
                    <div class="body">Follow her lead.</div>
                </div>
            </article>  
            </li>

            <li data-content-id="12826" class="cf">
            <article class="newsArticle summary">
                <a href="/7_Bungie-Weekly-Update---04302015/en/News/News?aid=12826" class="overlay"></a>
                <p class="date block">
                    <span class="day">30</span>
                    <span class="month">Apr</span>
                    <span class="year">2015</span>
                    <span class="time">19:36</span>
                </p>
                <a href="/7_Bungie-Weekly-Update---04302015/en/News/News?aid=12826" class="thumb" style="background-image:url('images/header_blog3.jpg')">
                    <img alt="" src="images/header_blog3.jpg">
                </a>
                <div class="content_fh">
                    <h1 class="title">
                        <a href="/7_Bungie-Weekly-Update---04302015/en/News/News?aid=12826">Bungie Weekly Update - 04/30/2015</a>
                    </h1>
                    <p class="mobile info">
                        <em>by</em>
                        <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em></a>
                            Apr 30 at 11:36:18 PM
                    </p>
                    <a class="mobile comments commentCount" href="/7_Bungie-Weekly-Update---04302015/en/News/News?aid=12826#comments">0 Comments</a>
                    <div class="body">From Trials to Prison.</div>
                </div>
            </article>  
            </li>

            <li data-content-id="12815" class="cf">      
            <article class="newsArticle summary">
                <a href="/7_House-of-Wolves-Reveal-Teaser---Trials-of-Osiris/en/News/News?aid=12815" class="overlay"></a>
                <p class="date block">
                    <span class="day">27</span>
                    <span class="month">Apr</span>
                    <span class="year">2015</span>
                    <span class="time">19:35</span>
                </p>
                <a href="/7_House-of-Wolves-Reveal-Teaser---Trials-of-Osiris/en/News/News?aid=12815" class="thumb" style="background-image:url('images/Trials_Reveal_blog.jpg')">
                    <img alt="" src="images/Trials_Reveal_blog.jpg">
                </a>
                <div class="content_fh">
                    <h1 class="title">
                        <a href="/7_House-of-Wolves-Reveal-Teaser---Trials-of-Osiris/en/News/News?aid=12815">House of Wolves Reveal Teaser - Trials of Osiris</a>
                    </h1>
                    <p class="mobile info">
                        <em>by</em>
                        <a href="/en/User/Profile/8011" data-membershipid="8011">
                            <em>DeeJ</em>
                        </a>
                        Apr 27 at 11:35:26 PM
                    </p>
                    <a class="mobile comments commentCount" href="/7_House-of-Wolves-Reveal-Teaser---Trials-of-Osiris/en/News/News?aid=12815#comments">0 Comments</a>
                    <div class="body">Come test yourself.</div>
                </div>
            </article>
            </li>
        </ul>

<!--          <div class="pager_prevnext block">
            <a class="btn_prev hide" href="/en/News?cat=all&amp;creationDate=0&amp;page=0">Previous</a>
            <span class="currentPage">Page <span id="beforeCurrentPage"></span> <span id="currentTopicPage" data-page="1">1</span> <span id="afterCurrentPage"><a class="btn_direct" data-page="2">2</a> <a class="btn_direct" data-page="3">3</a> <a class="btn_direct" data-page="4">4</a> <a class="btn_direct" data-page="5">5</a> <a class="btn_direct" data-page="6">6</a> <a class="btn_direct" data-page="7">7</a> </span></span>
            <a class="btn_next" href="/en/News?cat=all&amp;creationDate=0&amp;page=2">Next</a>
         </div> -->
    </div>
<!-- </div> -->

  <script src="js/main.js"></script>
</body>

</html>