<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<article class="container_out">
    <main class="container_news">
        
        <ul>
<!-- ============================================ -->
<!-- =================== li 1 =================== -->
<!-- ============================================ -->
            <li>
                <section>
                    <a href="#"></a>
                    <p class="date">
                        <time class="day">14</time>
                        <time class="month">May</time>
                        <time class="year">2015</time>
                        <time class="time">11:55</time>
                    </p>
                    <a href="#" class="thumb" style="images/header_blog.jpg')">
                        <img alt="" src="images/header_blog.jpg">
                    </a>
                    <section class="info">
                        <h1>
                            <a href="#">House of Wolves Launch Trailer</a>
                        </h1>
                        <p>See you in The Reef.</p>
                    </section>
                </section>
            </li>
<!-- ============================================ -->
<!-- =================== li 2 =================== -->
<!-- ============================================ -->
            <li>      
                <section>
                    <a href="#"></a>
                    <p class="date">
                        <time class="day">12</time>
                        <time class="month">May</time>
                        <time class="year">2015</time>
                        <time class="time">14:40</time>
                    </p>
                    <a href="#" class="thumb" style="background-image:url('images/fireteams.png')">
                        <img alt="" src="images/fireteams.png">
                    </a>
                    <section class="info">
                        <h1>
                            <a href="#">Community Focus - r/Fireteams</a>
                        </h1>
                            <p>Safety (and friendship) in numbers.</p>
                    </section>
                </section>
            </li>
<!-- ============================================ -->
<!-- =================== li 3 =================== -->
<!-- ============================================ -->
            <li>
                <section>
                    <a href="#"></a>
                    <p class="date">
                        <time class="day">8</time>
                        <time class="month">May</time>
                        <time class="year">2015</time>
                        <time class="time">13:09</time>
                    </p>
                    <a href="#" class="thumb" style="background-image:url('images/header_blog1.jpg')">
                        <img alt="" src="images/header_blog1.jpg">
                    </a>
                    <section class="info">
                        <h1>
                            <a href="#">House of Wolves Preview</a>
                        </h1>
                            <p>Expand your adventure.</p>
                    </section>
                </section>
            </li>
<!-- ============================================ -->
<!-- =================== li 4 =================== -->
<!-- ============================================ -->
            <li>      
                <section>    
                    <a href="#"></a>    
                    <p class="date">
                        <time class="day">7</time>
                        <time class="month">May</time>
                        <time class="year">2015</time>
                        <time class="time">18:39</time>
                    </p>         
                    <a href="#" class="thumb" style="background-image:url('images/header_blog2.jpg')"><img alt="" src="images/header_blog2.jpg"></a>               
                    <section class="info">              
                        <h1>
                            <a href="#">Bungie Weekly Update - 05/07/2015</a>
                        </h1>                        
                            <p>Let’s go to Prison.</p>
                    </section>      
                </section>  
            </li>
<!-- ============================================ -->
<!-- =================== li 5 =================== -->
<!-- ============================================ -->
            <li>      
                <section>
                    <a href="#"></a>
                    <p class="date">
                        <time class="day">4</time>
                        <time class="month">May</time>
                        <time class="year">2015</time>
                        <time class="time">20:19</time>
                    </p>
                    <a href="#" class="thumb" style="background-image:url(images/Prison_Reveal_Tease_blog_1.jpg')">
                        <img alt="" src="images/Prison_Reveal_Tease_blog_1.jpg">
                    </a>
                    <section class="info">
                        <h1>
                            <a href="#">House of Wolves Reveal Teaser - Prison of Elders</a>
                        </h1>
                        <p>Fight. Kill. Survive.</p>
                    </section>
                </section>  
            </li>
<!-- ============================================ -->
<!-- =================== li 6 =================== -->
<!-- ============================================ -->
            <li>      
                <section>
                    <a href="#"></a>
                    <p class="date">
                        <time class="day">1</time>
                        <time class="month">May</time>
                        <time class="year">2015</time>
                        <time class="time">17:55</time>
                    </p>
                    <a href="#" class="thumb" style="background-image:url('images/lauren.png')">
                        <img alt="" src="images/lauren.png">
                    </a>
                    <section class="info">
                        <h1>
                            <a href="#">Community Focus: Laced Up Lauren</a>
                        </h1>
                        <p>Follow her lead.</p>
                    </section>
                </section>  
            </li>
<!-- ============================================ -->
<!-- =================== li 7 =================== -->
<!-- ============================================ -->
            <li>
                <section>
                    <a href="#"></a>
                    <p class="date">
                        <time class="day">30</time>
                        <time class="month">Apr</time>
                        <time class="year">2015</time>
                        <time class="time">19:36</time>
                    </p>
                    <a href="#" class="thumb" style="background-image:url('images/header_blog3.jpg')">
                        <img alt="" src="images/header_blog3.jpg">
                    </a>
                    <section class="info">
                        <h1>
                            <a href="#">Bungie Weekly Update - 04/30/2015</a>
                        </h1>
                        <p>From Trials to Prison.</p>
                    </section>
                </section>  
            </li>
<!-- ============================================ -->
<!-- =================== li 8 =================== -->
<!-- ============================================ -->
            <li>      
                <section>
                    <a href="#"></a>
                    <p class="date">
                        <time class="day">27</time>
                        <time class="month">Apr</time>
                        <time class="year">2015</time>
                        <time class="time">19:35</time>
                    </p>
                    <a href="#" class="thumb" style="background-image:url('images/Trials_Reveal_blog.jpg')">
                        <img alt="" src="images/Trials_Reveal_blog.jpg">
                    </a>
                    <section class="info">
                        <h1>
                            <a href="#">House of Wolves Reveal Teaser - Trials of Osiris</a>
                        </h1>
                        <p>Come test yourself.</p>
                    </section>
                </section>
            </li>
        </ul>
    </main>
</article>

  <script src="js/main.js"></script>
</body>

</html>