<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<section>
    <ul>

        <li>
            <article>
                <time class="date"><strong>14</strong> MAY 2015</time>
                <a href="#" class="thumb">
                    <img alt="" src="images/header_blog.jpg">
                </a>
                <header>
                    <h1>
                        <a href="#">House of Wolves Launch Trailer</a>
                    </h1>
                    <p>See you in The Reef.</p>
                </header>
            </article>
        </li>

        <li>      
            <article>
                <time class="date"><strong>12</strong> MAY 2015</time>
                <a href="#" class="thumb">
                    <img alt="" src="images/fireteams.png">
                </a>
                <header>
                    <h1>
                        <a href="#">Community Focus - r/Fireteams</a>
                    </h1>
                        <p>Safety (and friendship) in numbers.</p>
                </header>
            </article>
        </li>

        <li>
            <article>
                <time class="date"><strong>8</strong> MAY 2015</time>
                <a href="#" class="thumb">
                    <img alt="" src="images/header_blog1.jpg">
                </a>
                <header>
                    <h1>
                        <a href="#">House of Wolves Preview</a>
                    </h1>
                        <p>Expand your adventure.</p>
                </header>
            </article>
        </li>

        <li>      
            <article> 
                <time class="date"><strong>7</strong> MAY 2015</time>
                <a href="#" class="thumb"><img alt="" src="images/header_blog2.jpg"></a>               
                <header>              
                    <h1>
                        <a href="#">Bungie Weekly Update - 05/07/2015</a>
                    </h1>                        
                        <p>Let’s go to Prison.</p>
                </header>      
            </article>  
        </li>

        <li>      
            <article>
                <time class="date"><strong>4</strong> MAY 2015</time>
                <a href="#" class="thumb">
                    <img alt="" src="images/Prison_Reveal_Tease_blog_1.jpg">
                </a>
                <header>
                    <h1>
                        <a href="#">House of Wolves Reveal Teaser - Prison of Elders</a>
                    </h1>
                    <p>Fight. Kill. Survive.</p>
                </header>
            </article>  
        </li>

        <li>      
            <article>
                <time class="date"><strong>1</strong> MAY 2015</time>
                <a href="#" class="thumb">
                    <img alt="" src="images/lauren.png">
                </a>
                <header>
                    <h1>
                        <a href="#">Community Focus: Laced Up Lauren</a>
                    </h1>
                    <p>Follow her lead.</p>
                </header>
            </article>  
        </li>

        <li>
            <article>
                <time class="date"><strong>30</strong> APR 2015</time>
                <a href="#" class="thumb">
                    <img alt="" src="images/header_blog3.jpg">
                </a>
                <header>
                    <h1>
                        <a href="#">Bungie Weekly Update - 04/30/2015</a>
                    </h1>
                    <p>From Trials to Prison.</p>
                </header>
            </article>  
        </li>

        <li>      
            <article>
                <time class="date"><strong>27</strong> APR 2015</time>
                <a href="#" class="thumb">
                    <img alt="" src="images/Trials_Reveal_blog.jpg">
                </a>
                <header>
                    <h1>
                        <a href="#">House of Wolves Reveal Teaser - Trials of Osiris</a>
                    </h1>
                    <p>Come test yourself.</p>
                </header>
            </article>
        </li>
    </ul>
</section>


</body>

</html>