<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<section>

    <main>
      <a href="#"><img src="http://www.gamestop.com/gs/images/718x305/718x305_acsyndicate.jpg" alt="ACS main"></a>
    </main>

    <aside>
        <ul>
              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_witcher3_pregi.jpg" alt="Witch"><h1>Witcher III</h1></a>
              </li>

              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_acsyndicate.jpg" alt="ACS"><h1>Assassin's Creed</h1></a>
              </li>

              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_TESO_WarriorsPreOrder_v2.jpg" alt="TES" ><h1>Elder Scrolls</h1></a>
              </li>

              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_30OFF_Tablet.jpg" alt="stuff"><h1>Tablet Sale</h1></a>
              </li>
        </ul>
    </aside>

</section>

</body>

</html>