<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<section>

    <main>

          <div>
              <a href="#">
                <img src="http://www.gamestop.com/gs/images/718x305/718x305_acsyndicate.jpg" alt="ACS main"></a>
          </div>

    </main>

    <aside>
        <ul>
              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_witcher3_pregi.jpg" alt="Witch"><div>Witcher III</div></a>
              </li>

              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_acsyndicate.jpg" alt="ACS"><div>Assassin's Creed</div></a>
              </li>

              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_TESO_WarriorsPreOrder_v2.jpg" alt="TES" ><div>Elder Scrolls</div></a>
              </li>

              <li>
                  <a href="#">
                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_30OFF_Tablet.jpg" alt="stuff"><div>Tablet Sale</div></a>
              </li>

        </ul>
    </aside>

</section>

</body>

</html>