<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>
<section>
  <img src="images/bulls_eye_bullseye_buggy_jump_05-27-2015_mh.jpeg" alt="TV show">
  <article>
    <header>
      <h1>Watch the Series Premiere</h1>
      <h3>Bullseye</h3>
      <p>Bullseye Buggy Jump</p>
    </header>
    <p>Host Kellan Lutz and co-host Godfrey welcome eight contestants as they participate in extraordinary challenges.</p>
  </article>
  <ul>
    <li><a id="active">1</a></li>
    <li><a>2</a></li>
    <li><a>3</a></li>
    <li><a>4</a></li>
  </ul>
</section>

</body>

</html>