<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>
<section>
  <img src="images/moone-boy-s3-classic.jpg" alt="TV show">
  <ol>
    <li><a class="active">1</a></li>
    <li><a class="inactive">2</a></li>
    <li><a class="inactive">3</a></li>
    <li><a class="inactive">4</a></li>
    <li><a class="inactive">5</a></li>
    <li><a class="inactive">6</a></li>
  </ol>
</section>

</body>

</html>