body {
  -webkit-font-smoothing: antialiased;
}
body, input, select, textarea, .fauxInput, .submit, .button, td.content, a.nav, a, a.user, comment, .post {
  font: 12px Arial, Helvetica, sans-serif;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
/*#pageContent {
  PADDING: 0px 4px 0 4px;
  margin: 0 0 0 0;
  background: #fff;
  FONT: 12px Arial,Helvetica,sans-serif;
  COLOR: #444;
  TEXT-ALIGN: left;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}
td[Attributes Style] {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.content {
  padding: 2px 6px;
  text-align: left;
}
.topContent {
  padding-top: 20px;
  padding-bottom: 30px;
}
body, input, select, textarea, .fauxInput, .submit, .button, td.content, a.nav, a, a.user, comment, .post {
  font: 12px Arial, Helvetica, sans-serif;
}
#userInfo, a.userInfo, td.content, .navTitle, .post, .sideItem, .comment, .title {
  color: #555;
}
script {
  display: none;
}
table[Attributes Style] {
  border-spacing: 0px;
  width: 100%;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.sideItem {
  text-align: center;
  padding: 0;
  font: 10px Verdana,Helvetica,sans-serif;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}
Style Attribute {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  display: block;
}
#carouselArrow {
  position: absolute;
  top: 230px;
  z-index: 100;
}
h1, a.small, a.nav, a, .post h2 {
  color: #1A539A;
}
a {
  outline: none;
  z-index: 250;
}
img {
  float: left;
  border: 0;
}
img[Attributes Style] {
  width: 16px;
  height: 8px;
}
#carouselImage {
  width: 590px;
  height: 238px;
  position: relative;
  text-decoration: none;
}
#carouselInfo {
  position: absolute;
  top: 160px;
  width: 100%;
  height: 78px;
  background: black;
  opacity: 0.8;
}
#carouselTitle {
  position: absolute;
  top: 170px;
  text-transform: uppercase;
  letter-spacing: -1px;
  left: 10px;
  color: #eee;
  font: 24px Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #000 1px 1px 1px;
}
#carouselDesc {
  position: absolute;
  top: 200px;
  letter-spacing: -1px;
  left: 10px;
  color: #777;
  font: 14px Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #000 1px 1px 1px;
}
iframe {
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}*/
a:link, a:visited {
  text-decoration: none;
}
/*.carouselThumbLink {
  float: none;
}
h1, a.small, a.nav, a, .post h2 {
  color: #1A539A;
}
a {
  outline: none;
  z-index: 250;
}
.carouselThumb, .carouselThumbOn {
  width: 52px;
  height: 52px;
}
.carouselThumb {
  opacity: 0.2;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}*/







.titleLine {
  background: white;
  border: 0;
  border-bottom: 4px solid #EEE;
  padding: 6px 0;
  font: 12px Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #777;
  cursor: default;
  margin-bottom: 5px;
}
.streamIndividual {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  padding: 6px 0;
}
h1, a.small, a.nav, a, .post h2 {
  color: #1A539A;
}
a {
  outline: none;
  z-index: 250;
}
a.modTitleLink {
  text-decoration: none !important;
  color: #B22222;
  font-weight: bold;
  display: inline-block;
  background: #FBF3F3;
  border: 1px solid #F9EFEF;
  padding: 2px;
  -webkit-border-radius: 2px;
}
.modTitleTable {
  padding: 0 0 0 5px;
  -webkit-box-sizing: border-box;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #B22222;
}
.streamMessage a {
  font-size: inherit;
}
.btn .label {
  padding: 0 3px 0 19px;
  white-space: nowrap;
}
.btn-o, .count-o, .btn, .btn .label, #count {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.btn {
  position: relative;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fff,#dedede);
  background-image: linear-gradient(#fff,#dedede);
  border: #ccc solid 1px;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  cursor: pointer;
  height: 18px;
}
#widget {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

