<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<div class="featuredoff showme">
    <h2>
        Featured Offers And Deals
        <span></span>
    </h2>    
    <input type="hidden" name="ctl00$mainContentPlaceHolder$dynamicContent$ctl00$RepeaterCenterColumnLayouts$ctl01$CenterColumnPlaceHolder$ctl00$ctl00$ctl03$StackPlaceHolder$ctl00$ctl00$ctl06$StandardPlaceHolder$ctl00$container" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_container_6" value="_offer">
    <div id="ca-container-mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_container_6_offer" class="ca-container trackable" data-track="deal"><div class="ca-nav"><span class="ca-nav-prev">Previous</span><span class="ca-nav-next">Next</span></div>
        <div style="overflow: hidden;" class="ca-wrapper">
            
                    <div class="ca-item" style="left: 0px; position: absolute;" id="/deals">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/deals" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_0" data-track="1|image|GradsSale2015|notpaid">
                                    <img alt="Save up to 50% on our Great Deals for Graduation" src="images/160x100_grad1_v2.jpg">
                                </a>
                                <h2>
                                    <a href="/deals" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_0" data-track="1|text|GradsSale2015|notpaid">Graduation Deals</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_0">Recent Grads deserve Great Games, Accessories and More.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="ca-item" style="left: 200px; position: absolute;" id="/PowerUpRewards/PUR/Enter/StarWarsSweeps2015">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/PowerUpRewards/PUR/Enter/StarWarsSweeps2015" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_1" data-track="2|image|MayTheFourthSweeps|notpaid">
                                    <img alt="Star Wars Sweepstakes. Learn More." src="images/160x100_maythe4thsweeps.jpg">
                                </a>
                                <h2>
                                    <a href="/PowerUpRewards/PUR/Enter/StarWarsSweeps2015" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_1" data-track="2|text|MayTheFourthSweeps|notpaid">Star Wars Sweepstakes</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_1">Enter for a Chance to Win a Darth Vader Replica Costume and other Prizes! Ends May 18th.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="ca-item" style="left: 400px; position: absolute;" id="/collection/preowned-gaming-figures?recfl=0">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/collection/preowned-gaming-figures?recfl=0" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_2" data-track="3|image|B2G1IGFMay15|notpaid">
                                    <img alt="Buy 2 get 1 Free on all Pre-Owned Skylanders, Disney Infinity and amiibo figures" src="images/160x100_BB2G1_IGF_042715.jpg">
                                </a>
                                <h2>
                                    <a href="/collection/preowned-gaming-figures?recfl=0" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_2" data-track="3|text|B2G1IGFMay15|notpaid">Figure Offer</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_2">B2G1 Free on All Pre-Owned Skylanders, Disney Infinity and amiibo Figures!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="ca-item" style="left: 600px; position: absolute;" id="/browse/xbox-360?nav=16k-3-blast+from+the+past,28zu0,1385">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/browse/xbox-360?nav=16k-3-blast+from+the+past,28zu0,1385" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_3" data-track="4|image|BFTP_99Xbox360Bundle|notpaid">
                                    <img alt="Xbox 360 Blast from the past bundle with 6 games for $99.99. Buy Now" src="images/160x100_BlastFromthePast_XB360-v2.jpg">
                                </a>
                                <h2>
                                    <a href="/browse/xbox-360?nav=16k-3-blast+from+the+past,28zu0,1385" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_3" data-track="4|text|BFTP_99Xbox360Bundle|notpaid">Blast from the Past</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_3">Xbox 360 Blast from the Past Bundle with 6 games! Only $99.99</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="ca-item" style="left: 800px; position: absolute;" id="/browse?nav=16k-3-weeklypreowned,28zu0">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/browse?nav=16k-3-weeklypreowned,28zu0" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_4" data-track="5|image|PWD_ACBundle|notpaid">
                                    <img alt="Pre-owned Weekly Deal. Buy Now!" src="images/160x100_AC_POWeeklyDeal.jpg">
                                </a>
                                <h2>
                                    <a href="/browse?nav=16k-3-weeklypreowned,28zu0" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_4" data-track="5|text|PWD_ACBundle|notpaid">Pre-owned Weekly Deal</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_4">Get three Assassin's Creed Games on Xbox 360 for only $7.99! Offer Valid Online Only.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="ca-item" style="left: 1000px; position: absolute;" id="/collection/bundles">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/collection/bundles" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_5" data-track="6|image|blastfromthepast|notpaid">
                                    <img alt="Save up to 50% with our pre-owned bundles. Buy Now." src="images/160x100_prebundlev3.jpg">
                                </a>
                                <h2>
                                    <a href="/collection/bundles" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_5" data-track="6|text|blastfromthepast|notpaid">Bundle Savings</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_5">Save up to 50% on Xbox 360, PS3, Wii, 3DS, and Vita Pre-owned Bundles!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="ca-item" style="left: 1200px; position: absolute;" id="/browse?nav=16k-3-NEWTABSALE30,28zu0">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/browse?nav=16k-3-NEWTABSALE30,28zu0" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_6" data-track="7|image|Tablet&amp;AccSale30-50|notpaid">
                                    <img alt="Save up to 30% of all New Tablets on Gamestop.com. Asus, Nvidia, Google Nexus, Samsung and more." src="images/160x100_30OFF_Tablet.jpg">
                                </a>
                                <h2>
                                    <a href="/browse?nav=16k-3-NEWTABSALE30,28zu0" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_6" data-track="7|text|Tablet&amp;AccSale30-50|notpaid">Tablet Sale</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_6">Save on Samsung, Asus, Google, Nvidia Tablets and More! Online Only!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="ca-item" style="left: 1400px; position: absolute;" id="/searchmerch/creditapplication?">
                        <div class="ca-item-main">
                            <div class="featurediv">
                                <a href="/searchmerch/creditapplication?" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageUrl_7" data-track="8|image|PURCC|notpaid">
                                    <img alt="PowerUp Rewards Credit Card. Learn More." src="images/160x100_PUR-CC.jpg">
                                </a>
                                <h2>
                                    <a href="/searchmerch/creditapplication?" id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_aImageTitleUrl_7" data-track="8|text|PURCC|notpaid">Credit Card</a>
                                </h2>
                                <p>
                                    <span id="mainContentPlaceHolder_dynamicContent_ctl00_RepeaterCenterColumnLayouts_CenterColumnPlaceHolder_1_ctl00_1_ctl00_1_StackPlaceHolder_3_ctl00_3_ctl00_3_StandardPlaceHolder_6_ctl00_6_rptOffersAndDeals_6_DescriptionLabel_7">Apply for the GameStop PowerUp Rewards Credit Card Now and Receive Great Benefits!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                
        </div>
    </div>
    <div class="viewmore trackable" data-track="offer">
        <h3>
            View More Offers</h3>
        <ul>
            <li class="showme"><a href="http://www.gamestop.com/preowned" data-track="1|text|pre-owned|notpaid">
                Pre-Owned</a></li>
            <li class="showme"><a href="http://www.gamestop.com/trade-in" data-track="2|text|trade-ins|notpaid">
                Trade-Ins</a></li>
            <li class="showme"><a href="http://www.gamestop.com/browse?nav=13162" data-track="3|text|pricedrops|notpaid">
                Price Drops</a></li>
            <li class="showme"><a href="/browse?nav=28-xu0,13164" data-track="4|text|bonusoffers|notpaid">
                Bonus Offers</a></li>
            <li class="showme"><a href="https://www.gamestop.com/poweruprewards" target="_blank" data-track="5|text|poweruprewards|notpaid">
                PowerUp Rewards</a></li>
        </ul>
       <div class="offers-viewall" style="display:block">
            <a class="viewall-btn" href="/deals" data-track="6|button|viewall|notpaid"><span>
               </span></a>
        </div>
    </div>
</div>
  <script src="js/index.js"></script>
</body>

</html>