<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- description text that displays below the link in google search results -->
    <meta name="description" content="Description of site">


</head>

<body>  

<section>

    <h2>Featured Offers And Deals</h2> 

    <article>
        <span id="prev">Previous</span>
        <main>
            <div>
                <a href="#"><img alt="Deals" src="images/160x100_grad1_v2.jpg"></a>
                <h2>Graduation Deals</h2>
                <p>Recent Grads deserve Great Games, Accessories and More.</p>
            </div>

            <div>
                <a href="#"><img alt="Star Wars" src="images/160x100_maythe4thsweeps.jpg"></a>
                <h2>Star Wars Sweepstakes</h2>
                <p>Enter for a Chance to Win a Darth Vader Replica Costume and other Prizes! Ends May 18th.</p>
            </div>

            <div>
                <a href="#"><img alt="Skylanders" src="images/160x100_BB2G1_IGF_042715.jpg"></a>
                <h2>Figure Offer</h2>
                <p>B2G1 Free on All Pre-Owned Skylanders, Disney Infinity and amiibo Figures!</p>
            </div>

        </main>
        <span id="next">Next</span>
    </article>

    <aside>
        <h3>View More Offers</h3>
        <ul>
            <li><a href="#">Pre-Owned</a></li>
            <li><a href="#">Trade-Ins</a></li>
            <li><a href="#">Price Drops</a></li>
            <li><a href="#">Bonus Offers</a></li>
            <li><a href="#">PowerUp Rewards</a></li>
        </ul>
        <button>
            <a href="#"></a>
        </button>
    </aside>

</section>

</body>
</html>