<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- description text that displays below the link in google search results -->
    <meta name="description" content="Description of site">


</head>

<body>  

<main>

    <h2>
        Featured Offers And Deals
        <span></span>
    </h2>    
    <input type="hidden" name="" value="_offer">

    <section>

        <div><span>Previous</span><span>Next</span></div>

        <article>

            <div>
                <a href="/deals">
                    <img alt="Save up to 50% on our Great Deals for Graduation" src="images/160x100_grad1_v2.jpg">
                </a>
                <h2>
                    <a href="/deals">Graduation Deals</a>
                </h2>
                <p>
                    <span>Recent Grads deserve Great Games, Accessories and More.</span>
                </p>
            </div>


            <div>
                <a href="/PowerUpRewards/PUR/Enter/StarWarsSweeps2015">
                    <img alt="Star Wars Sweepstakes. Learn More." src="images/160x100_maythe4thsweeps.jpg">
                </a>
                <h2>
                    <a href="/PowerUpRewards/PUR/Enter/StarWarsSweeps2015">Star Wars Sweepstakes</a>
                </h2>
                <p>
                    <span>Enter for a Chance to Win a Darth Vader Replica Costume and other Prizes! Ends May 18th.</span>
                </p>
            </div>

            <div>
                <a href="/collection/preowned-gaming-figures?recfl=0">
                    <img alt="Buy 2 get 1 Free on all Pre-Owned Skylanders, Disney Infinity and amiibo figures" src="images/160x100_BB2G1_IGF_042715.jpg">
                </a>
                <h2>
                    <a href="/collection/preowned-gaming-figures?recfl=0">Figure Offer</a>
                </h2>
                <p>
                    <span>B2G1 Free on All Pre-Owned Skylanders, Disney Infinity and amiibo Figures!</span>
                </p>
            </div>
        </article>
    </section>

    <aside>

        <h3>
            View More Offers</h3>
        <ul>
            <li><a href="http://www.gamestop.com/preowned">Pre-Owned</a></li>

            <li><a href="http://www.gamestop.com/trade-in">Trade-Ins</a></li>

            <li><a href="http://www.gamestop.com/browse?nav=13162">Price Drops</a></li>

            <li><a href="/browse?nav=28-xu0,13164">Bonus Offers</a></li>

            <li><a href="https://www.gamestop.com/poweruprewards">PowerUp Rewards</a></li>

        </ul>

        <div>
            <ahref="/deals"><span>
               </span></a>
        </div>

    </aside>

</main>


  <script src="js/index.js"></script>


</body>
</html>