<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
<section>
<h2>Top Categories</h2>
    <ul>
        <li>
            <a href="#"><img src="images/hme_sa_xb15.jpg" alt=""></a>
            <a href="#">Xbox One</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_ps45.jpg" alt=""></a>
            <a href="#">PS4</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_xb3605.jpg" alt=""></a>
            <a href="#">Xbox 360</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_ps35.jpg" alt=""></a>
            <a href="#">PS3</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_wiiu11.jpg" alt=""></a>
            <a href="#">Wii U</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_pc5.jpg" alt=""></a>
            <a href="#">PC</a>
        </li>
        <div></div>
    </ul>

    <ul>
        <li>
            <a href="#"><img src="images/hme_sa_3ds515.jpg" alt=""></a>
            <a href="#">3DS</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_electronics515.jpg" alt=""></a>
            <a href="#">Electronics</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_bundles.jpg" alt=""></a>
            <a href="#">Bundles</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_collectibles118.jpg" alt=""></a>
            <a href="#">Collectibles</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_accy3.jpg" alt=""></a>
            <a href="#">Accessories</a>
        </li>
        <li>
            <a href="#"><img src="images/hme_sa_headsets3.jpg" alt=""></a>
            <a href="#">Headsets</a>
        </li>
        <div></div>
    </ul>
</section>

</body>

</html>