body {
  font-family: Tahoma, Verdana, Arial, Sans-Serif;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15) inset;
  min-height: 100%;
  position: relative;
  color: rgb(30, 36, 43);
  background: url("https://www.bungie.net/img/theme/bungienet/bgs/bg_globe.jpg") fixed center top repeat-x #384c6b;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
li {
  -ms-zoom: 1;
  zoom: 1;
}
div {
  display: block;
}
* {
  margin: 0;
  padding: 0;
}
section {
  width: 880px; /* 960 */
  border: 14px solid rgba(0,0,0,0.86);
  margin: 0 auto;
  clear: both;
  background: #f5f5f5;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: #0096db;
}
ul {
  padding: 28px 15px 0;
  background: url("https://www.bungie.net/img/theme/destiny/bgs/bg_hashes_news.png") repeat-x center top;
  clear: both;
}
ul li:first-child {
  padding-top: 21px;
}
ul li {
  list-style: none;
}
li {
  -ms-zoom: 1;
  zoom: 1;
}
li:before, li:after {
  content: "";
  display: table;
}
article {
  border-bottom: 1px solid #E1E1E1;
  height: 115px;
  list-style: none outside none;
  overflow: visible;
  padding: 30px 0;
  position: relative;
  width: 404px;
}
section {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: #0096db;
}
article .date {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
  height: 104px;
  left: 0;
  padding: 7px;
  position: absolute;
  top: auto;
  width: 32px;
  z-index: 1;
}
.date {
  color: #fff;
  font-weight: 400;
  text-align: center;
}
strong {
  font-weight: 700;
  font-size: 24px;
  display: block;
  line-height: 24px;
}
.thumb {
  display: block;
  height: 118px;
  left: 46px;
  position: absolute;
  top: 30px;
  width: 235px;
}
.thumb img {
  width: 235px;
  height: 118px;
}
img {
  max-width: 100%;
}
article section {
  border: 0;
  padding: 0;
  font-size: 14px;
  line-height: 23px;
  color: #333;
  overflow: hidden;
  position: absolute;
  left: 301px;
  width: 457px;
  height: 115px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-weight: 500;
}
h1 a {
  font-size: 26px;
  color: #000;
  font-weight: 400;
  line-height: 1.2em;
}
a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: #0096db;
}

