body {
  -webkit-font-smoothing: antialiased;
}
body, input, select, textarea, .fauxInput, .submit, .button, td.content, a.nav, a, a.user, comment, .post {
  font: 12px Arial, Helvetica, sans-serif;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

a:link, a:visited {
  text-decoration: none;
}







.titleLine {
  background: white;
  border: 0;
  border-bottom: 4px solid #EEE;
  padding: 6px 0;
  font: 12px Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #777;
  cursor: default;
  margin-bottom: 5px;
}
.streamIndividual {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  padding: 6px 0;
}
h1, a.small, a.nav, a, .post h2 {
  color: #1A539A;
}
a {
  outline: none;
  z-index: 250;
}
a.modTitleLink {
  text-decoration: none !important;
  color: #B22222;
  font-weight: bold;
  display: inline-block;
  background: #FBF3F3;
  border: 1px solid #F9EFEF;
  padding: 2px;
  -webkit-border-radius: 2px;
}
.modTitleTable {
  padding: 0 0 0 5px;
  -webkit-box-sizing: border-box;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #B22222;
}
.streamMessage a {
  font-size: inherit;
}
.btn .label {
  padding: 0 3px 0 19px;
  white-space: nowrap;
}
.btn-o, .count-o, .btn, .btn .label, #count {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.btn {
  position: relative;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fff,#dedede);
  background-image: linear-gradient(#fff,#dedede);
  border: #ccc solid 1px;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  cursor: pointer;
  height: 18px;
}
#widget {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

