<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>
    <h1>News</h1>

    <article>
        <a><img src="//s3.amazonaws.com/s3.roosterteeth.com/images/Barbara_square.jpg?i=1"></a>

        <div>
        <h2>Barbara</h2>
        <a id="link">Cast &amp; Crew</a>
        <h3>Make a music video!</h3>

        <p>...for RvB Season 13!</p>
        <p>That's right, it's another Community Contest!</p>

        <p>A few years ago, we had a contest to make a music video using the RvB Season 9 soundtrack. This time, we're asking you to use any song from the AWESOME band, Trocadero! Read the contest description for all the details. The entire team at RT, and everyone working on RvB is so excited to see what you guys do.</p>

        <p>There are prizes for the top 3 videos, but who knows -- maybe if you guys make the decision too hard, we'll have to give more prizes. Just to give you an idea, this was the winner of the previous Music Video Contest.</p>

        <p>Make sure to read all the rules, and good luck! Contest ends June 22nd at 11:59 PM CT.</p>
        <span>15 hours ago &nbsp;|&nbsp; <a href="#">Comments (110)</a></span>
        </div>
    </article>

    <article>
        <a> <img src="//s3.amazonaws.com/s3.roosterteeth.com/images/brandon_square.jpg?i=127"></a>

        <div>
        <h2>Brandon</h2>
        <a id="link">Cast &amp; Crew</a>
        <h3>Pilot Sports Show</h3>

        <p>Hey Guys! We are working on a few pilot episodes for a RT sports show. The pilots will be audio only with the image b-roll that you've seen in the last few sponsor casts. We are curious to see how they will work and we will look at the feedback when deciding about moving it into a public production. Anything that is designated as a RT Pilot will just be released to sponsors.</p>

        <p>We've been joined by Tyler who comes to us from the world of Sports Radio. This week Geoff, Tyler and I sat down to discuss the NBA Playoffs. It was a lot of fun and we'll probably do it again in a couple weeks and try to include a playoff Hockey component with it. </p>

        <p>So let us know what you think!</p>

        <span>22 hours ago &nbsp;|&nbsp; <a href="#">Comments (19)</a></span>
        </div>
    </article>

</body>

</html>