<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>
        <h1 class="titleLine" style="margin-bottom:5px;">News</h1>
        
        <article style="" id="streamDivLeveljournal478715966937" class="streamIndividual activityRow streamjournal3339243">
            <a style="  padding-left: 2px; padding-top: 1px;"><img src="//s3.amazonaws.com/s3.roosterteeth.com/images/Barbara_square.jpg?i=1"></a>

            <section>
            <h2>Barbara</h2>
            <a href="/staff/" id="link">Cast &amp; Crew</a>
            <span>15 hours ago &nbsp;|&nbsp; <a href="#">Comments (110)</a></span>
            </section>
        </article>

        <article>
            <a style="  padding-left: 2px; padding-top: 1px;"><img style="width:65px;height:65px;display:inline-block;background:url(http://s3.roosterteeth.com/assets/style/images/art/slowmoguys120.jpg) top center no-repeat;background-size:cover;-webkit-background-size:cover;"></a>

            <section>
            <h2>The Slow Mo Guys</h2>
            <p style="font-size:13px;color:#444;">This video was surprisingly highly requested. And you know us. We're the Slow Mo Guys. We deliver!</p>
            <span>22 hours ago &nbsp;|&nbsp; <a href="#">Comments (19)</a></span>
            </section>
        </article>













<!-- 






                                <table width="100%" cellpadding="0" cellspacing="0"><tbody>
                                <tr>
                        <td><a><span>1 hour ago</span></a> &nbsp;|&nbsp; <a>Comments (<b><span class="streamCommentCount" data-num="1103">1103</span></b>)</a><span class="modShowjournal3339243"><span> &nbsp;|&nbsp; </span><a id="mod3339243" class="small lightMain tip" title="<b>Mod Breakdown</b><br />" style="cursor:default;font-weight:bold;"></a></span></td>
                        
                        </tr>
                        
                        </tbody></table>
                    </td></tr>
                </tbody></table></div>
            
            <a id="ac5963500" name="c5963500"></a><a name="t"></a>
                <table width="100%" cellpadding="5" cellspacing="0">
                    <tbody><tr>
                        <td valign="top" width="80" style="padding-bottom:8px;padding-left:0;"><a href="http://roosterteeth.com/archive/?sid=slowmoguys&amp;v=more"><div style="padding-left:2px;padding-top:1px;"><div class="avatar" style="padding:3px;display:inline-block;"><div style="width:65px;height:65px;display:inline-block;background:url(http://s3.roosterteeth.com/assets/style/images/art/slowmoguys120.jpg) top center no-repeat;background-size:cover;-webkit-background-size:cover;"></div></div></div></a></td>
                        <td valign="top" class="streamMessage" style="padding-top:8px;padding-bottom:8px;font-size:12px;line-height:150%;color:#444"><table cellpadding="0" cellspacing="0"><tbody><tr>
                                <td valign="middle" style="color:gray;font-size:12px;padding-bottom:3px;font-weight:normal;"><a href="http://roosterteeth.com/archive/?sid=slowmoguys&amp;v=more" class="light" style="font-size:13px;"><b>The Slow Mo Guys</b></a> </td>
                                
                                </tr></tbody></table><div style="font-size:13px;color:#444;">This video was surprisingly highly requested. And you know us. We're the Slow Mo Guys. We deliver!</div>

            </div><table width="100%" cellpadding="0" cellspacing="0"><tbody><tr>
                        <td class="small" style="padding:8px 0;color:#999;vertical-align:middle;"><a href="http://roosterteeth.com/archive/?id=10877" style="color:#999;font-size:11px;" onclick="return recordClick('videoLinks_85349', this.href);"><span class="updateWhen" data-on="1431545160" title="5/13/15 2:26PM CST">22 hours ago</span></a> &nbsp;|&nbsp; <a class="small light" href="http://roosterteeth.com/archive/?id=10877" onclick="return recordClick('videoLinks_85349', this.href);">Comments (<b><span class="streamCommentCount" data-num="19">19</span></b>)</a><span class="modShowvideoLinks85349"><span id="mod85349Sep" style="display:none;"> &nbsp;|&nbsp; </span><a id="mod85349" class="small lightMain tip" title="<b>Mod Breakdown</b><br />" style="cursor:default;font-weight:bold;"></a></span></td>
                        
                        </tr>
                        
                        </tbody></table>
                    </td></tr>
                </tbody></table></div>
 -->
                   
  <script src="js/main.js"></script>
</body>

</html>