<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>
    <h1>News</h1>

    <article>
        <a><img src="//s3.amazonaws.com/s3.roosterteeth.com/images/Barbara_square.jpg?i=1"></a>

        <div>
        <h2>Barbara</h2>
        <a id="link">Cast &amp; Crew</a>

        <p>A few years ago, we had a contest to make a music video using the RvB Season 9 soundtrack. This time, we're asking you to use any song from the AWESOME band.</p>
        <span>15 hours ago &nbsp;|&nbsp; <a href="#">Comments (110)</a></span>
        </div>
    </article>

    <article>
        <a> <img src="//s3.amazonaws.com/s3.roosterteeth.com/images/brandon_square.jpg?i=127"></a>

        <div>
        <h2>Brandon</h2>
        <a id="link">Cast &amp; Crew</a>
        <h3>Pilot Sports Show</h3>

        <p>Hey Guys! We are working on a few pilot episodes for a RT sports show. The pilots will be audio only with the image b-roll that you've seen in the last few sponsor casts.</p>

        <span>22 hours ago &nbsp;|&nbsp; <a href="#">Comments (19)</a></span>
        </div>
    </article>

</body>

</html>