<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />

</head>

<body>	
<section>
  <h2>Join our Halo communities</h2>
  <ul>

    <li><a id="fb" class="icon"  href="#"><span>Facebook</span></a></li>

    <li><a id="twitter" class="icon"  href="#"><span>Twitter</span></a></li>

    <li><a id="yt" class="icon"  href="#"><span>YouTube</span></a></li>

    <li><a id="twitch" class="icon"  href="#"><span>Twitch</span></a></li>

    <li><a id="insta" class="icon"  href="#"><span>Instagram</span></a></li>

    <li><a id="forum" class="icon"  href="#"><span>Forums</span></a></li>

  </ul>
</section>

  <script src="js/main.js"></script>
</body>

</html>