<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />

	<link rel="shortcut icon" href="//w.halocdn.com/favicon.ico?v=2">

    <link href="//w.halocdn.com/shared/styles/site.min.css?v=Ua9ueu7FWmYZKmUw8vLmTOgGjut63MhqMP2P25SvZPw1" rel="stylesheet">
    
    <link href="//w.halocdn.com/shared/styles/fonts.min.css?v=x6E0sdplAr-Je7oOKHaSY2vDUMeXTB9KJ179p4xkndI1" rel="stylesheet">
    
</head>

<body>	
<div class="social--large">
  <div class="contain">
    <div class="grid"><div class="row row-4 col-1-span-3"><div class="col">
      <div class="text">
        <h2 class="text--medium">Join our Halo communities</h2>
        </div>
          <ul class="footer-social-links">
            <li><a data-analytics="Site:Footer/Social/FacebookLink" class="social-link facebook icon icon--facebook" href="https://www.facebook.com/Halo"><span>Facebook</span></a></li>
            <li><a data-analytics="Site:Footer/Social/TwitterLink" class="social-link twitter icon icon--twitter" href="https://twitter.com/Halo"><span>Twitter</span></a></li>
            <li><a data-analytics="Site:Footer/Social/YoutubeLink" class="social-link youtube icon icon--youtube" href="http://www.youtube.com/user/HaloWaypoint"><span>YouTube</span></a></li>
            <li><a data-analytics="Site:Footer/Social/TwitchLink" class="social-link twitch icon icon--twitch" href="http://www.twitch.tv/halo"><span>Twitch</span></a></li>
            <li><a data-analytics="Site:Footer/Social/InstagramLink" class="social-link instagram  icon icon--instagram" href="http://instagram.com/halo"><span>Instagram</span></a></li>
            <li><a data-analytics="Site:Footer/Social/ForumsLink" class="social-link forums icon icon--forums" href="https://www.halowaypoint.com/en-us/forums"><span>Forums</span></a></li>
          </ul>
        </div>
      </div>
    </div>            
  </div>
</div>

  <script src="js/main.js"></script>
</body>

</html>