<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />

	<!-- <link rel="shortcut icon" href="//w.halocdn.com/favicon.ico?v=2"> -->

    <link href="css/site.min.css" rel="stylesheet">
    
    <link href="css/fonts.min.css" rel="stylesheet">

</head>

<body>	
<div class="social--large">
  <div class="contain">
    <div class="grid"><div class="row row-4 col-1-span-3"><div class="col">
      <div class="text">
        <h2 class="text--medium">Join our Halo communities</h2>
        </div>
          <ul class="footer-social-links">

            <li><a class="social-link facebook icon icon--facebook" href="#"><span>Facebook</span></a></li>

            <li><a class="social-link twitter icon icon--twitter" href="#"><span>Twitter</span></a></li>

            <li><a class="social-link youtube icon icon--youtube" href="#"><span>YouTube</span></a></li>

            <li><a class="social-link twitch icon icon--twitch" href="#"><span>Twitch</span></a></li>

            <li><a class="social-link instagram  icon icon--instagram" href="#"><span>Instagram</span></a></li>

            <li><a class="social-link forums icon icon--forums" href="#"><span>Forums</span></a></li>

          </ul>
        </div>
      </div>
    </div>            
  </div>
</div>

  <script src="js/main.js"></script>
</body>

</html>