<!DOCTYPE html>
<html>
<se
<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>	
    <div id="trythis" class="showme">
        <div class="showcase" id="showcase">
            <div class="home-main">
                <div class="banner-rotator">
                    <div class="trackable panes" data-track="hero">
                        
                        <div class="" id="http://www.gamestop.com/gs/images/718x305/718x305_witcher3_pregi.jpg" style="display: none;">
                            <a href="#" data-track="1|image|WARN_Witcher3|paid">
                                <img src="http://www.gamestop.com/gs/images/718x305/718x305_witcher3_pregi.jpg" alt="The Witcher 3 Wild Hunt. Buy Now"></a>
                        </div>
                    
                        <div class="" id="http://www.gamestop.com/gs/images/718x305/718x305_acsyndicate.jpg" style="display: block;">
                            <a href="#" data-track="2|image|UBIS_ACSyndicate|paid">
                                <img src="http://www.gamestop.com/gs/images/718x305/718x305_acsyndicate.jpg" alt="Assassin's Creed Syndicate. Pre-Order Now"></a>
                        </div>
                    
                        <div class="" id="http://www.gamestop.com/gs/images/718x305/718x305_TESO_WarriorsPreOrder_v2.jpg" style="display: none;">
                            <a href="#" data-track="3|image|BETH_ElderScrollsOnline|paid">
                                <img src="http://www.gamestop.com/gs/images/718x305/718x305_TESO_WarriorsPreOrder_v2.jpg" alt="The Elder Scrolls Online Tamriel Unlimited. Buy Now."></a>
                        </div>
                    
                        <div class="" id="http://www.gamestop.com/gs/images/718x305/718x305_30OFF_Tablet.jpg" style="display: none;">
                            <a href="#" data-track="4|image|Tablet&amp;AccSale30-50|notpaid">
                                <img src="http://www.gamestop.com/gs/images/718x305/718x305_30OFF_Tablet.jpg" alt="Save up to 30% of all New Tablets on Gamestop.com. Asus, Nvidia, Google Nexus, Samsung and more. No rain checks, Online Only. While Supplies Last."></a>
                        </div>
                            
                    </div>
                    <aside class="rotator-navmenu">
                        <ul class="tabs">
                            
                            <li>
                                <a href="#" data-track="1|image|WARN_Witcher3|paid" class="">
                                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_witcher3_pregi.jpg" alt="The Witcher 3 Wild Hunt. Buy Now" class="thb"><div>Witcher III</div></a>
                            </li>
                        
                            <li>
                                <a href="#" data-track="2|image|UBIS_ACSyndicate|paid" class="current">
                                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_acsyndicate.jpg" alt="Assassin's Creed Syndicate. Pre-Order Now" class="thb"><div>Assassin's Creed</div></a>
                            </li>
                        
                            <li>
                                <a href="#" data-track="3|image|BETH_ElderScrollsOnline|paid" class="">
                                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_TESO_WarriorsPreOrder_v2.jpg" alt="The Elder Scrolls Online Tamriel Unlimited. Buy Now." class="thb"><div>Elder Scrolls</div></a>
                            </li>
                        
                            <li>
                                <a href="#" data-track="4|image|Tablet&amp;AccSale30-50|notpaid" class="">
                                    <img src="http://www.gamestop.com/gs/images/718x305/718x305_30OFF_Tablet.jpg" alt="Save up to 30% of all New Tablets on Gamestop.com. Asus, Nvidia, Google Nexus, Samsung and more. No rain checks, Online Only. While Supplies Last." class="thb"><div>Tablet Sale</div></a>
                            </li>
                                
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
  <script src="js/index.js"></script>
</body>

</html>