body {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

img {
	max-width: 100%;
}

ol {
	top: 490px;
	position: absolute;
	left: 46%;
	margin: 0; 
	padding: 0; 
}

li {
	margin: 0 4px;
	display: inline-block;
	zoom: 1
}

a {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 8px;
	display: block;
	cursor: pointer;
	height: 8px;
	width: 8px;
}

a:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.active {
	background-color: rgba(255, 255, 255, 0.8);
}

.inactive {
	background-color: rgba(255, 255, 255, 0.4);
}