<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>

    <section>
      <article>
        <a id="title"><h1 style="min-height: 42px;">Expansion II: House of Wolves</h1>
        <img alt="Pre-Order Destiny for Beta Access" src="http://www.destinythegame.com/content/dam/atvi/bungie/dtg/home/touts/tout-exp2-en.png"></a>
        <p>Expand your Destiny adventure with House of Wolves. Only the bravest Guardians will hunt down the rising Fallen threat and lay claim to the mysterious treasures of The Reef.</p>
        <a id="icon"><div>Learn More</div></a>
      </article>
      
      <article>
        <a id="title"><h1 style="min-height: 42px;">Expansion II: House of Wolves</h1>
        <img alt="Pre-Order Destiny for Beta Access" src="http://www.destinythegame.com/content/dam/atvi/bungie/dtg/home/touts/tout-exp2-en.png"></a>
        <p>Expand your Destiny adventure with House of Wolves. Only the bravest Guardians will hunt down the rising Fallen threat and lay claim to the mysterious treasures of The Reef.</p>
        <a id="icon"><div>Learn More</div></a>
      </article>
      
      <article>
        <a id="title"><h1 style="min-height: 42px;">Expansion II: House of Wolves</h1>
        <img alt="Pre-Order Destiny for Beta Access" src="http://www.destinythegame.com/content/dam/atvi/bungie/dtg/home/touts/tout-exp2-en.png"></a>
        <p>Expand your Destiny adventure with House of Wolves. Only the bravest Guardians will hunt down the rising Fallen threat and lay claim to the mysterious treasures of The Reef.</p>
        <a id="icon"><div>Learn More</div></a>
      </article>

    </section>
  <script src="js/main.js"></script>
</body>

</html>