<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>uknown</title>

    <link rel="stylesheet" href="css/style.css">

	<!-- description text that displays below the link in google search results -->
	<meta name="description" content="Description of site" />


</head>

<body>

    <section>
      <article>
        <h1>Expansion II: House of Wolves</h1>
        <img alt="Destiny" src="http://www.destinythegame.com/content/dam/atvi/bungie/dtg/home/touts/tout-exp2-en.png">
        <p>Expand your Destiny adventure with House of Wolves. Only the bravest Guardians will hunt down the rising Fallen threat and lay claim to the mysterious treasures of The Reef.</p>
        <a>Learn More</a>
      </article>
      
      <article>
        <h1>Expansion II: House of Wolves</h1>
        <img alt="Destiny" src="http://www.destinythegame.com/content/dam/atvi/bungie/dtg/home/touts/tout-exp2-en.png">
        <p>Expand your Destiny adventure with House of Wolves. Only the bravest Guardians will hunt down the rising Fallen threat and lay claim to the mysterious treasures of The Reef.</p>
        <a>Learn More</a>
      </article>
      
      <article>
        <h1>Expansion II: House of Wolves</h1>
        <img alt="Destiny" src="http://www.destinythegame.com/content/dam/atvi/bungie/dtg/home/touts/tout-exp2-en.png">
        <p>Expand your Destiny adventure with House of Wolves. Only the bravest Guardians will hunt down the rising Fallen threat and lay claim to the mysterious treasures of The Reef.</p>
        <a>Learn More</a>
      </article>
    </section>
    
</body>

</html>